.searchBar {
  background-color: blue;
  padding: 10px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: greenyellow;
}
